
header, #home {
	background: #ffc107;
	color: var(--color1);
    
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

#header div {
    display: flex;
    align-items: center;
}

#header img {
    max-width: 200px;
    width: 200px;
}

#header a {
    text-decoration: none;
    color: var(--color1);
    font-weight: bold;
}

#header .topnav .links {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

#header .topnav .links a:hover {
    color: black;
}

#header .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    color: var(--color1); 
    background-color: inherit;
    font-weight: bold;
}

#header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    top: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#header .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#header .dropdown-content a:hover {
    background-color: #ddd;
}

#header .dropdown:hover .dropdown-content {
    display: block;
}

#header #profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header #profile .links {
   list-style-type: none;
}

#header #profile img {
    width: 50px;
}

@media screen and (max-width: 550px) {
    #header #nav nav{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #header #nav{
        display: none;
    }

    main .container .money {
        font-size: 30px;
    }

    #header .dropdown-content {
        width: 100px;
    }
    
}

